;; shadow-cljs configuration
{:source-paths
 ["src"]

 :dependencies
 []

 :dev-http {8080 "public"}
 :builds
 {:frontend
  {:target :browser
   :modules {:main {:init-fn rtdraw.cljs.main/init}}
   }}}
