;; shadow-cljs configuration
{:source-paths
 ["src"]

 :dependencies
 [[reagent "1.1.0"]
  [org.clojure/core.match "1.0.0"]
  [org.clojure/core.async "1.3.618"]
  ]

 :dev-http {8000 "public"}
 :builds
 {:frontend
  {:target :browser
   :modules {:main {:init-fn rtdraw.cljs.main/init}}
   }}}
